// Copyright (C) 2022,2023 Genome Research Ltd.

params {
    results_dir = "./nextflow_results"
    reference_manifest = "./reference_manifest.csv"
    sequencing_manifest = ""
    variant_caller = "medaka"
    clair3_args = ""
    min_barcode_dir_size = 10
    keep_bam_files = false
    help = false
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

profiles {

    standard {
        docker {
            enabled = true
            runOptions = '-v "/mnt":"/mnt"'
        }
    }

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        conda.enabled          = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        conda.enabled          = false
    }

    conda {
        conda.enabled          = true
        singularity.enabled    = false
        docker.enabled         = false
    }

    sanger_local {
        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "${PWD}"
            // To avoid downloading/converting to singularity image every time
            libraryDir = '/data/pam/installs/custom_installs/nextflow_singularity_library/'
            runOptions = "--bind /lustre,/nfs,/software,/data"
        }
    }
}
